<!-- <div fxLayout="column">
  <form #billingAddressForm="ngForm" fxLayout="column">
    <div fxFlexLayout="row">
      <div>
        <mat-checkbox
          class="dark-checkbox-style text-normal"
          [(ngModel)]="useAddress"
          (change)="changeSameBillingAddress()"
          name="useAddress"
          disableRipple
        >
          {{ flavor }}
        </mat-checkbox>
      </div>
    </div>

    <div fxLayout="row">
      <mat-form-field class="mr-2">
        <input
          data-component-id="FirstName"
          matInput
          [(ngModel)]="address.FirstName"
          name="firstName"
          maxlength="100"
          #firstName="ngModel"
          autocomplete="nope"
          required
          placeholder="FirstName"
        />
        <mat-error *ngIf="firstName.invalid">This is required field</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          data-component-id="LastName"
          [(ngModel)]="address.LastName"
          name="lastName"
          maxlength="100"
          #lastName="ngModel"
          required
          placeholder="LastName"
        />
        <mat-error *ngIf="lastName.invalid">This is required field</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field>
      <input
        matInput
        data-component-id="AddressLine1"
        [(ngModel)]="address.Address1"
        maxlength="100"
        name="address1"
        #address1="ngModel"
        required
        placeholder="Address1"
      />
      <mat-error *ngIf="address1.invalid">This is required field</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        data-component-id="AddressLine2"
        [(ngModel)]="address.Address2"
        name="address2"
        maxlength="100"
        #address2="ngModel"
        placeholder="AddressLine2"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        data-component-id="AddressLine3"
        [(ngModel)]="address.Address3"
        name="address3"
        maxlength="100"
        #address3="ngModel"
        placeholder="AddressLine3"
      />
    </mat-form-field>
    <div fxLayout="row">
      <mat-form-field class="mr-2">
        <input
          matInput
          data-component-id="City"
          [(ngModel)]="address.City"
          name="city"
          maxlength="100"
          #city="ngModel"
          required
          placeholder="City"
        />
        <mat-error *ngIf="city.invalid">This is required field</mat-error>
      </mat-form-field>
      <div fxLayout="column">
        <mat-form-field class="state">
          <mat-select
            required
            data-component-id="State"
            data-component-list="true"
            [(ngModel)]="address.State"
            name="stateProv"
            #stateProv="ngModel"
            placeholder="State"
          >
            <mat-option
              *ngFor="let state of states"
              [value]="state.abbreviation"
            >
              {{ state.name }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="stateProv.invalid && (stateProv.dirty || stateProv.touched)"
            >This is required field
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <mat-form-field class="mr-2">
        <input
          data-component-id="PostalCode"
          matInput
          [(ngModel)]="address.PostalCode"
          maxlength="10"
          name="zip"
          #zip="ngModel"
          placeholder="PostalCode"
        />
        <mat-error *ngIf="zip.invalid">This is required field</mat-error>
      </mat-form-field>
      <div>
        <mat-form-field class="country">
          <mat-select
            data-component-id="Country"
            data-component-list="true"
            required
            [(ngModel)]="address.Country"
            (selectionChange)="onCountryChange()"
            name="country"
            #country="ngModel"
            placeholder="Country"
          >
            <mat-option
              *ngFor="let country of countries"
              [value]="country?.CountryId"
            >
              {{ country?.CountryName }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="country.invalid && (country.dirty || country.touched)"
            >This is required field
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <mat-form-field id="baseComponentId" class="mr-2">
        <input
          matInput
          data-component-id="Email"
          emailvalidator
          name="email"
          #email="ngModel"
          [(ngModel)]="address.Email"
          maxlength="100"
          type="email"
          placeholder="Email"
          (ngModelChange)="onEmailChange(email)"
          [pattern]="pattern"
        />
        <mat-error *ngIf="email.invalid && isEmailValid"
          >This is required field</mat-error
        >
        <mat-error *ngIf="!isEmailValid"
          >Please provide an valid email</mat-error
        >
      </mat-form-field>
      <mat-form-field
        id="baseComponentId"
        baseComponentId="phone-field-with-us-format-ff-enabled-add-credit-card"
      >
        <input
          data-component-id="Phone"
          matInput
          [(ngModel)]="address.Phone"
          name="phone"
          #phone="ngModel"
          csphoneformatter
          placeholder="Phone"
        />
        <mat-error *ngIf="phone && phone.touched && phone.invalid"
          >This is required field</mat-error
        >
      </mat-form-field>
    </div>

    <div fxLayout="column">
      <div>CERT Information</div>

      <div fxLayout="row">
        <mat-form-field class="mr-2">
          <input
            matInput
            data-component-id="Cert"
            emailvalidator
            name="cert"
            #cert="ngModel"
            [(ngModel)]="certificate.certificateNo"
            maxlength="100"
            type="text"
            placeholder="CERT No"
            required
          />
          <mat-error *ngIf="email.invalid">This is required field</mat-error>
        </mat-form-field>
        <mat-form-field id="baseComponentId">
          <input
            data-component-id="Pin"
            matInput
            [(ngModel)]="certificate.pin"
            name="pin"
            #pin="ngModel"
            csphoneformatter
            placeholder="Pin"
            required
          />
          <mat-error *ngIf="phone && phone.touched && phone.invalid"
            >This is required field</mat-error
          >
        </mat-form-field>
      </div>
    </div>

    <div fxLayoutAlign="end end">
      <button
        mat-button
        class="cta-secondary mr-1"
        type="button"
        (click)="reset(billingAddressForm)"
      >
        Reset
      </button>

      <button
        mat-raised-button
        color="primary"
        class="cta-primary"
        type="button"
        (click)="openCardInfoDialog(billingAddressForm)"
      >
        Add
      </button>
    </div>
  </form>
</div> -->

<div fxLayout="column">
  <!-- <form [formGroup]="addressForm" (submit)="onSubmit(addressForm)" novalidate>
    <div fxLayout="row">
      <mat-form-field class="mr-2">
        <input
          matInput
          placeholder="Payment Method"
          formControlName="paymentmethod"
          required
        />
        <mat-error
          *ngIf="addressForm.controls['paymentmethod'].hasError('required')"
        >
          Payment Method is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mr-2">
        <input
          matInput
          placeholder="Refrence Number "
          formControlName="refnum"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Amount"
          formControlName="amount"
          pattern="/[0-9.]/"
          required
        />
        <mat-error *ngIf="addressForm.controls['amount'].hasError('required')">
          Amount is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayoutAlign="end end">
      <button mat-button class="cta-secondary" type="reset">Reset</button>
      &nbsp;
      <button mat-raised-button class="cta-primary" type="submit">Add</button>
    </div>
  </form> -->
  <form #postCertificateForm="ngForm">
    <div fxLayout="row">
      <mat-form-field class="mr-2">
        <mat-select
          [required]="isPaymentMethodRequired"
          [(ngModel)]="postDepositForm.paymentMethod"
          name="paymentMethod"
          #paymentMethod="ngModel"
          placeholder="Payment Method"
        >
          <mat-option *ngFor="let item of paymentMethods" [value]="item.key">
            {{ item.value }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            paymentMethod.invalid &&
            (paymentMethod.dirty || paymentMethod.touched)
          "
        >
          Payment Method is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mr-2">
        <input
          matInput
          maxlength="16"
          [(ngModel)]="postDepositForm.referenceNumber"
          name="refnum"
          maxlength="100"
          #refnum="ngModel"
          placeholder="Refrence Number"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="postDepositForm.amount"
          name="amount"
          #amount="ngModel"
          placeholder="Amount"
          [required]="isAmountRequired"
        />
        <mat-error *ngIf="amount.invalid && (amount.dirty || amount.touched)">
          Amount is required
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayoutAlign="end end">
      <button mat-button class="cta-secondary mr-1" type="reset">Reset</button>
      <button
        mat-raised-button
        class="cta-primary"
        (click)="onSubmit(postCertificateForm)"
        [disabled]="postCertificateForm.invalid"
      >
        Add
      </button>
    </div>
  </form>
</div>
<!-- <iframe src=""></iframe> -->

<!-- <p appDemo (click)="dispatchOnClick()">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto vitae in,
  ea tempora exercitationem autem voluptates? Iure quam omnis commodi corporis
  ex, ratione distinctio eius aperiam accusantium necessitatibus amet at!
</p> -->
