.numberInputDiv{
    position: relative;
    height: 2.4rem;
    width: 8.5rem;
}

i{
    font-size: 1rem;
}

.incrementButton,.decrementButton{
    position: absolute;
    left: .6rem;
    outline: none;
    padding: .4rem;
    border: none;
}

input.numberType{
    max-width: 3rem;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 2.6rem;
    text-align: center;
}

.incrementButton{
    left: 5.6rem;
    padding-left: 0.1rem;
}

button, input {
    height: 100% !important;
}

div.numberType:focus-visible {
    outline: none;
}