// @import './assets/colors.scss';
@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.css";

html {
  height: 100%;
}

.error-border{
  border: 1px solid red;
}

.error-text{
  color: red;
}